<a href="https://colab.research.google.com/github/louistrue/learn-ifc-bfh25-D/blob/main/BFH-25-01_Pandas-Grundlagen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IFC Datenvisualisierung Starter · Pandas-Grundlagen

Du lernst:
- IFC-Tabellen laden, erkunden, filtern und gruppieren
- Kennzahlen und Aggregationen für Visualisierungen vorbereiten

Du brauchst:
- Einen Jupyter- oder Colab-Workspace (z. B. `BFH-25-IFC-Dashboard-Starter.ipynb`)
- Zugang zu den Beispiel-IFC-Dateien in diesem Repository

In [1]:
%pip install -q pandas

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

df = pd.DataFrame({
    'ElementId': ['id1','id2','id3','id4','id5','id6'],
    'ElementTyp': ['IfcWall','IfcWall','IfcDoor','IfcWindow','IfcSlab','IfcSlab'],
    'Geschoss': ['EG','OG1','EG','OG1','EG','OG1']
})

df.head()

  ElementId ElementTyp Geschoss
0       id1    IfcWall       EG
1       id2    IfcWall      OG1
2       id3    IfcDoor       EG
3       id4  IfcWindow      OG1
4       id5    IfcSlab       EG

In [3]:
display(df.head(3))
print(df.info())
display(df.describe(include='all'))

  ElementId ElementTyp Geschoss
0       id1    IfcWall       EG
1       id2    IfcWall      OG1
2       id3    IfcDoor       EG

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ElementId   6 non-null      object
 1   ElementTyp  6 non-null      object
 2   Geschoss    6 non-null      object
dtypes: object(3)
memory usage: 272.0+ bytes
None

       ElementId ElementTyp Geschoss
count          6          6        6
unique         6          4        2
top          id1    IfcWall       EG
freq           1          2        3

In [4]:
waende_eg = df[(df['ElementTyp']=="IfcWall") & (df['Geschoss']=="EG")]
waende_eg

  ElementId ElementTyp Geschoss
0       id1    IfcWall       EG

In [5]:
geschoss_counts = (
    df.groupby('Geschoss')['ElementId']
      .nunique()
      .reset_index(name='Anzahl')
      .sort_values('Anzahl', ascending=False)
)
geschoss_counts

  Geschoss  Anzahl
0       EG       3
1      OG1       3

In [6]:
heatmap_data = (
    df.pivot_table(values='ElementId', index='Geschoss', columns='ElementTyp',
                   aggfunc='count', fill_value=0)
)
heatmap_data

ElementTyp  IfcDoor  IfcSlab  IfcWall  IfcWindow
Geschoss
EG                1        1        1          0
OG1               0        1        1          1

## Was du hier machst
- Erzeugst einen kleinen DataFrame mit IFC-Elementen (synthetisch).
- Erkundest die Daten (head, info, describe).
- Filterst per Bedingung (z. B. Wände im EG).
- Aggregierst Kennzahlen: Anzahl Elemente pro Geschoss.
- Formst Daten in eine Matrix (Pivot) um – perfekt für Heatmaps.

## Warum das wichtig ist
Dashboards brauchen saubere, aggregierte Tabellen. Pandas liefert dir:
- Filtern für gezielte Teilmengen
- Gruppieren für Kennzahlen nach Kategorie
- Pivot für Heatmaps und Kreuztabellen

## Weiteres
- Dokumentation: https://pandas.pydata.org/docs/  ``[pandas.pydata.org]``
- Nächster Schritt: `BFH-25-02_Plotly-Grundlagen.ipynb`